html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #FFAFE1;
}

.block{
    display: block;
}

.crumbFont{
    font-family: 'Nova Mono', monospace;
}

.mini{
    font-size: 0.8em;
}

.title{
    color: #4C340D;
    background-color: #FFAFE1;
    font-family: 'Nova Mono', monospace;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#map{
    display: flex;
    justify-content: center;
    background-color: #FFAFE1;
    border-bottom: 10px solid #4C340D;
    border-top: 10px solid #4C340D;
    z-index: 94 !important;
    position: absolute !important;
      -webkit-animation-name: animatebottom;
      -webkit-animation-duration: 1s;
      animation-name: animatebottom;
      animation-duration: 3s  
}

    .map#map.animate-bottom.map{
     background-color: #FFAFE1;   
}


        @-webkit-keyframes animatebottom {
          from { opacity:0 } 
          to { opacity:1 }
        }

        @keyframes animatebottom { 
          from{ opacity:0 } 
          to{ opacity:1 }
        }

        #myDiv {
          display: none;
          text-align: center;
        }

.pickUpElement{
    display: flex;
    justify-content: center;
    background-color: #FFAFE1;
}

.small_button{
    font-size: 12px;
    color: black;
    font-family: 'Poppins', sans-serif;
    background-color: #e7e7e7;
    border: 1px grey;
    border-radius: 20px;
    height: 22px;
    width: auto;
    margin-left: 10px;
    cursor: pointer;
}

.foundCrumbMessage{
    z-index: 96 !important;
    position: absolute !important;
    background-color: white !important;
    border: 1px solid black;
    opacity: none;
    vertical-align: middle;
    align-self: center;
    font-family: 'Nova Mono', monospace;
    color: black;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.openFoundCrumb{
    z-index: 97 !important;
    position: absolute !important;
    height: auto;
    background-color: white !important;
    border: 1px solid black;
    opacity: none;
    vertical-align: middle;
    align-self: center;
    font-family: 'Raleway', sans-serif;
    color: black;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.opacityOverMap{
    background-color: white;
    opacity: 0.25;
    z-index: 95;
    position: absolute;
    left: 0px;
    margin-top: 0px;
    display: flex;
    justify-content: center;   
}

.exploreFurtherDiv{
    width: 100%;
    display: flex;
    justify-content: center;
}

.recentTrackRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.recentTrackRow_number{
    width: 5%;
}  
.recentTrackRow_artist{
    width: 20%;
    text-align: left;
}
.recentTrackRow_track{
    width: 75%;
    text-align: left;
}

.tag{
    float: left;
    border-radius: 10px;
    font-size: 0.8em;
    padding: 10px;
    margin: 5px;
    background-color: lightgreen;
}

.errorMessageBody{
    background-color: #FFAFE1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.errorMessageDiv{
    z-index: 97 !important;
    position: absolute !important;
    height: auto;
    background-color: white !important;
    border: 1px solid black;
    opacity: none;
    vertical-align: middle;
    align-self: center;
    font-family: 'Raleway', sans-serif;
    color: black;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}

/************ Mobile ***************/
@media screen and (max-width: 599px) {
    
.title{
    height: 90px;
    font-size: 2.6em;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
} 
    
.one{
    width: 65%;
}
.two{
    display: none;
} 
.two_sub{
    display: none;
}
.three{
    display: block;
    width: 35%;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-top: 22px;
    font-size: 0.25em;
}
.three_sub{
    width: 100%;
    padding-right: 15px;
    cursor: pointer;
}
     
#map{
    height: 80%;
    width: 100%;
}
    
.opacityOverMap{
    height: 77%;
    width: 100%;
    top: 100px;
}
   
.foundCrumbMessage{
    top: 150px;
    height: 230px;
    width: 340px;
    font-size: 1.2em;
    padding: 25px;
}   
.foundCrumbMessage img{
    width: 120px;
    padding: 20px;
}
    
.openFoundCrumb{
    top: 130px;
    width: 90%;
    font-size: 0.8em;
    padding: 20px;
}   
.openFoundCrumb img{
    width: 35px;
    padding: 0px;
    padding-bottom: 20px;
}
    
.small_button{
    font-size: 0.8em;
    height: 18px;
    width: auto;
    margin-left: 10px;
    cursor: pointer;
    margin-left: 70px;
    margin-right: 70px;
}
    
.function_button{
    font-size: 0.6em;
    height: 16px;
    width: auto;
    margin-left: 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
    
.exploreFurtherDiv{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.8em;
}
    
.recentTrackRow{
    font-size: 0.8em;
} 
    
.youtube_logo{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px;
}
.youtube_logo img{
    width: 100px;
    padding: 0px;
}
    
} /*end mobile*/

/*** Tablet ***/
@media screen and (min-width: 600px) and (max-width: 1023px) {
.title{
    height: 90px;
    font-size: 2.4em;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}
    
.one{
    width: 60%;
}
.two{
    display: block;
    width: 40%;
    display: flex;
    flex-direction: row;
    text-align: right;
    padding-top: 40px;
    font-size: 0.3em;
}   
.two_sub{
    cursor: pointer;
    padding-right: 20px;
}
.three{
    display: none;
}
.three_sub{
    display: none;       
}
    
#map{
    height: 80%;
    width: 100%;
}
    
.opacityOverMap{
    height: 77%;
    width: 100%;
    top: 100px;
}
   
.foundCrumbMessage{
    top: 150px;
    height: 230px;
    width: 340px;
    font-size: 1.2em;
    padding: 25px;
}   
.foundCrumbMessage img{
    width: 120px;
    padding: 20px;
}
    
.openFoundCrumb{
    top: 130px;
    width: 90%;
    font-size: 0.8em;
    padding: 20px;
}   
.openFoundCrumb img{
    width: 35px;
    padding: 0px;
    padding-bottom: 20px;
}
    
.small_button{
    font-size: 0.8em;
    height: 18px;
    width: auto;
    margin-left: 10px;
    cursor: pointer;
    margin-left: 70px;
    margin-right: 70px;
}
    
.exploreFurtherDiv{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.8em;
}
    
.recentTrackRow{
    font-size: 0.8em;
} 
    
.youtube_logo{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px;
}
.youtube_logo img{
    width: 100px;
    padding: 0px;
}  

} /*end tablet*/

/*** Desktop ***/
@media screen and (min-width: 1024px) {
    
.title{
    height: 90px;
    font-size: 3em;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;    
}
    
.one{
    width: 75%;
}
.two{
    display: block;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-top: 40px;
    font-size: 0.3em;
}   
.two_sub{
    width: 50%;
    cursor: pointer;
}
.three{
    display: none;
}
.three_sub{
    display: none;       
}
  
#map{
    height: 80%;
    width: 100%;
}
    
.opacityOverMap{
    height: 77%;
    width: 100%;
    top: 100px;  
}
     
.foundCrumbMessage{
    top: 160px;
    height: 180px;
    width: 600px;
    font-size: 1.2em;
}   
.foundCrumbMessage img{
    width: 140px;
    padding: 20px;
}
    
.openFoundCrumb{
    top: 120px;
    height: auto;
    width: 90%;
    font-size: 0.8em;
    padding: 20px;
} 
.openFoundCrumb img{
    width: 75px;
    padding: 0px;
    padding-bottom: 20px;
}
    
.details_wrapper{
    width: 100%;
    margin-bottom: 15px;
}
 
.youtube_logo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.youtube_logo img{
    width: 160px;
}
    
.exploreFurtherDiv{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.recentTrackRow{
    margin-left: 320px;
}   
    
.tag{
    margin: 15px;
    padding: 15px;
}
   
.errorMessageDiv{
    top: 130px;
    height: auto;
    width: 60%;
    font-size: 0.8em;
    padding: 20px;
}
.errorMessageDiv img{
    width: 140px;
    padding: 20px;
}
    

    
} /* end of Desktop */


/*** Loader style ***/
.loaderMessage{
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 99;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
