      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#tagDiv{
    display: block !important;
}

   .small_button {
    font-size: 12px;
    color: black;
    font-family: 'Poppins', sans-serif;
    background-color: #e7e7e7;
    border: 1px grey;
    border-radius: 20px;
    height: 22px;
    width: auto;
    margin-left: 10px;
        cursor: pointer;
    
}

            
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
/*          background-color: turquoise;*/
/*          background-color: #ededed;*/
          font-family: 'Open Sans', sans-serif;
                  background-color: #FFAFE1;
      }
            
    .title{
/*        background-color: #ededed;*/
/*        color: #FCDC3B;*/
        height: 100px;
        color: #4C340D;
        background-color: #FFAFE1;
/*        background-color: lightgray;*/
        
        /*
        font-family: 'Contrail One', cursive;
        font-family: 'Londrina Solid', cursive;
        font-family: 'Kavoon', cursive; 
        font-family: 'Averia Gruesa Libre', cursive; */
        font-family: 'Nova Mono', monospace;
/*        font-family: 'Spicy Rice', cursive;*/
        
/*        font-family: 'Piedra', cursive;*/
/*      font-family: 'Unlock', cursive;*/
        font-size: 3em;
        text-transform: uppercase;
        padding-top: 10px;
        padding-left: 25px;
        padding-bottom: 20px;
/*        border-bottom: 10px solid #87FFC8;*/
/*        border-bottom: 10px solid #4C340D;*/
    }

.crumbFont{
        font-family: 'Nova Mono', monospace;
}

    .menu{
        padding-left: 25px;         
        background-color: #ededed;
        border-bottom: 1px solid blue;
    }

    .crumb{
       font-family: 'Piedra', cursive; 
        font-size: 15em;
        color: #FCDC3B;
        margin-top: -100px;
    }

.pickUpElement{
        display: flex;
        justify-content: center;
        padding: 20px;
        background-color: #FFAFE1;
}

.tagDiv0{
    background-color: lightgreen;
    margin: 15px;
    padding: 15px;
    float: left;
    border-radius: 10px;
}


.tagDiv1{
    background-color: red;
    margin: 15px;
    padding: 15px;
    float: left;
    border-radius: 10px;
}


.tagDiv2{
    background-color: blueviolet;
    margin: 15px;
    padding: 15px;
    float: left;
    border-radius: 10px;
}

.tagDiv3{
    background-color: blueviolet;
    margin: 15px;
    padding: 15px;
    float: left;
    border-radius: 10px;
}

#youtube_logo{
    width: 160px;
}

.main{
    width: 100%;
    height: auto;
}



/*** Mobile ***/
@media screen and (max-width: 500px) {
    
    #map {
        height: 80%;
        width: 100%;
        margin-left: 0px;        
      }
    
    .opacityOverMap{
        background-color: white;
        opacity: 0.5;
        z-index: 99;
        position: absolute;
        border: 1px solid red;
        height: 100%;
    }
    
}

/*** Tablet ***/
@media screen and (min-width: 501px) and (max-width: 1023px) {
    
    #map {
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    


    .foundMessage{
        z-index: 99 !important;
        position: absolute !important;
        height: 180px;
        width: 340px;
        background-color: white !important;
        border: 1px solid black;
        opacity: 1 !important;
        vertical-align: middle;
        align-self: center;
    }
}

/*** Desktop ***/
@media screen and (min-width: 1024px) {
    
        #map {
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: center;
                    background-color: #FFAFE1;
        border-bottom: 10px solid #4C340D;
        border-top: 10px solid #4C340D;
        z-index: 94 !important;
        position: absolute !important;
      }
    
    .opacityOverMap{
        height: 78%;
        width: 100%;
        background-color: white;
        opacity: 0.45;
        z-index: 95;
        position: absolute;
        left: 0px;
        top: 110px;
        margin-top: 0px;
        display: flex;
        justify-content: center;
        
    }
    
    
    .foundCrumbMessage{
        z-index: 96 !important;
        position: absolute !important;
        top: 160px;
        height: 180px;
        width: 600px;
        background-color: white !important;
        border: 1px solid black;
        opacity: none;
        vertical-align: middle;
        align-self: center;
        font-family: 'Nova Mono', monospace;
/*        font-family: 'Karma', serif;*/
/*        font-family: 'Open Sans', sans-serif;*/
        font-size: 1.2em;
        color: black;
        text-align: center;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .foundCrumbMessage img{
        width: 140px;
        padding: 20px;
    }
    
    .openFoundCrumb{
        z-index: 97 !important;
        position: absolute !important;
        top: 130px;
        height: auto;
        width: 90%;
        background-color: white !important;
        border: 1px solid black;
        opacity: none;
        vertical-align: middle;
        align-self: center;
/*        font-family: 'Karma', serif;*/
    font-family: 'Raleway', sans-serif;
/*        font-family: 'Open Sans', sans-serif;*/
        font-size: 0.8em;
        color: black;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 20px;
    }
    
    .openFoundCrumb img{
        width: 75px;
        padding: 0px;
        padding-bottom: 20px;
    }
    
    .openFoundCrumbTopLayer{
        z-index: 98 !important;
        position: absolute !important;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background-color: white !important;
        opacity: none;
        vertical-align: middle;
        align-self: center;
/*        font-family: 'Karma', serif;*/
    font-family: 'Raleway', sans-serif;
/*        font-family: 'Open Sans', sans-serif;*/
        font-size: 0.8em;
        color: black;
        text-align: center;
        
        padding: 40px;
/*
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
*/
    }
    
    .openFoundCrumbTopLayerTags{
        z-index: 99 !important;
        position: absolute !important;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background-color: white !important;
        opacity: none;
        vertical-align: middle;
        align-self: center;
/*        font-family: 'Karma', serif;*/
    font-family: 'Raleway', sans-serif;
/*        font-family: 'Open Sans', sans-serif;*/
        font-size: 0.8em;
        color: black;
        text-align: center;
        
        padding: 40px;
/*
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
*/
    }
    
    
    .visible{
        display: block;
    }
    
    .invisible{
        display: none;
    }
    
    
    .details_overwrap{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .details_wrapper{
        width: 36%;
/*        border: 1px solid blue;*/
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 15px;
    }
    
    .details_row{
        width: 100%;
    }
    
    .exploreFurtherDiv{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .artistInfoDiv{
        width: 400px;
        
    }
    
    .recentTrackRow{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 160px;
        padding-right: 60px;
        width: 100%;
        padding-top: 5px;
    }
    
    .recentTrackRow_number{
        width: 5%;
    }
    
    .recentTrackRow_artist{
        width: 20%;
            text-align: left;
    }
    
    .recentTrackRow_track{
        width: 75%;
                    text-align: left;
    }
/*
    .details_albumpic{
        width: 30%;
    }
    
    .details_albumpic img{
        width: 100%;
    }

    
    .details_details{
        width: 70%;
    }
*/
    
    .div_key{
        width: 15%;
        text-align: left;
    }
    
    .div_value{
        width: 85%;
        text-align: left;

    }
    
    .details_row{
        width: 100%;
    }
    
    .tagsWrapper{
        width: 100%;
    }
    
    .tagsCloseButton{
        width: 100%;
        height: 10%;
    }
    

    
} /* end of Desktop */


/*** Animations ***/

/*
#p1 {
    animation: fadeout 11s;
}
#p2 {
    animation: fadeout 9s;
}
#p3 {
    animation: fadeout 7s;
}
#p4 {
    animation: fadeout 5s;
}
#p5 {
    animation: fadeout 3s;
}
#p6 {
    animation: fadeout 1s;
}
#p7 {
    animation: fadeout 3s;
}
#p8 {
    animation: fadeout 1s;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
}
*/

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}